{% extends "InventoryBundle::layout.html.twig" %}

{% block title %}InventoryBundle:Listing:printSiteResume{% endblock %}

{% block body %}
<h1>Analyse chantier</h1>
Prix de revient, ...
{% endblock %}
